* {
    margin: 0;
    padding: 0;
    background-color: #1E2326;
}

.heading {
    text-align: center;
    color: royalblue;
    padding: 50px;
    font-size: 40px;
}

b:hover {
    color: red;
    font-size: 50px;
}

.contain {
    margin: 0 auto;
    margin-top: 10px;
    width: 500px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(47, 0, 255, 0.5);
    transition: 0.3s;
    font-size: 0;
}

.contain:hover {
    cursor: pointer;
    box-shadow: 4px 16px 32px 4px rgba(47, 0, 255, 0.5);
}

.screen #result {
    width: 500px;
    height: 150px;
    margin: 0 auto;
    background-color: white;
    text-align: right;
    font-size: 50px;
    font-weight: bold;
    padding: 0 10px;
    letter-spacing: 3px;
    box-sizing: border-box;
}

.btn {
    width: 125px;
    height: 100px;
    font-weight: bold;
    font-size: 30px;
    background-color: #1E2326;
    color: white;
}

.operation-btn {
    background-color: #5E4BB6;
}

.operation-btn1 {
    background-color: #FEC208;
}

.btn:hover {
    cursor: pointer;
    background-color: black;
}